<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Prediction</title>
    <link rel="stylesheet" href="static/graph.css">
</head>
<body>
    <div class="container">
        <img src="data:image/png;base64,{{ plot_data }}" alt="Price vs Area Plot">
         <button type="submit">Predict Price</button>
         <br>
         <a href="https://github.com/Igb0kwe/House-price-prediction" class="Repo"><p>Github Repo</p></a>
        </form>
    </div>
</body>
</html>
