<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Prediction</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="container">
        <form action="/predict" method="post">
         <h1>Land Price Predictor</h1>
         <label for="color">Desired State:</label>
         <br>
         <select id="location" name="location">
             <option value="red">Abuja</option>
             <option value="blue" selected>Maidugri</option>
             <option value="green">Lagos</option>
             <option value="green">Kano</option>
         </select>
         <br>
         <br>
         <input type="text" id="area" name="area" required placeholder="Enter Area (in sq ft)">
         <br>
         <br>
         <button type="submit">Predict Price</button>
         <br>
         <a href="https://github.com/Igb0kwe/House-price-prediction" class="Repo"><p>Github Repo</p></a>
        </form>
    </div>
</body>
</html>

