<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="static/output.css">
</head>
<body>
    
    <div class="container">
        <h1>Prediction Result</h1>
        <p><strong>Area:</strong> {{ area }} sq ft</p>
        <p><strong> Predicted Price:</strong> ${{ predicted_price }}</p>      
        <button><a href="/">Predict Again</a></button>
        <br>
        <a href="https://github.com/Igb0kwe/House-price-prediction" class="Repo"><p>Github Repo</p></a>
    </div>

</body>
</html>
